/* This is the file used in styling component 4 in invest page */

/* imported fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

.component-four {
    display: flex;
    align-items: center;
    font-family: 'DM Sans';
    padding: 50px 0 0 100px;
  }
  
  .component-image {
    width: 30%; 
    margin: 0 20px 0 0; 
    height: auto;
  }
  
.text {
    display: flex;
    flex-direction: column;
}
  