/* This is the file used in styling component 4 in invest page */

/* imported fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

.componentSix {
    display: flex;
    align-items: center;
    font-family: 'DM Sans';
    padding: 50px 0 0 100px;
  }
  
  .component-image {
    width: 30%; 
    margin: 0 40px 0 0; 
    height: auto;
    border-radius: 20px;
  }
  
.text {
    display: flex;
    flex-direction: column;
}

.text h1 {
    font-weight: normal;
    font-size: 40px;
}

.text p {
    font-size: 18px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 5px;
    width: 200px;
    transition: 0.3s;
    border: 2px solid black;
    border-radius: 30px;
    height: 30px;
  }
  
  .button a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: black;
  }
  
  
  .button-text {
    color: rgb(0, 0, 0);
    transition: 1s;
    transform: translateX(0); /* this is the initial position where the text is before hovering */
  }
  
  /* hover effect on the button */
  .button:hover {
    background-color: black;
  }
  
  .button:hover .button-text {
    color: rgb(255, 255, 255);
    transform: translateX(60px); /* This is the slide distance of the text */
    transition: 1s;
  }
  
  