/* This is the css file linked to the Nav.tsx to style it */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

/* The styling below targets the div containing the nav items */
.nav-body {
    padding: 50px 0 0 80px;
    
}

.nav-links {
    display: flex; /* this makes the div mobile responsive */
    flex-direction: row;
    justify-content: flex-end; /* Align text links to the right */
    list-style-type: none;  /* this removes the pointers from the list items */
    padding: 0 50px 0 0px;
}

.nav-logo {
    margin-right: 32%; /* Add spacing to the right of the logo */
}

.nav-link {
    font-family: 'DM Sans';
    font-size: 15px;
    padding: 15px 0 0 15px;  /* the left padding justifies the spaces between the link list items */
    color: #fff;
    text-decoration: none;  /* this style removes the underline from the link elements */
    white-space: nowrap; /* Prevent link items with two words from stacking */
}

/* This effect adds the underline during the hover effect */
.nav-link:hover {
    text-decoration: underline; 
}
