/* This file is linked to a social impact component */

/* imported fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');


.component-Four {
    display: flex;
    align-items: center;
    font-family: 'DM Sans';
    padding: 50px 0 0 100px;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    border-radius: 0 0 20px 20px;
  }
  
  .component-image {
    width: 30%; 
    margin: 0 40px 0 0; 
    height: auto;
    border-radius: 20px;
  }
  
.text {
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
}

.text h1 {
    font-weight: normal;
    font-size: 40px;
}

.text p {
    font-size: 18px;
}